# Бинарные файлы и компиляция

# Скомпилированные исполняемые файлы (Go binaries)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof

# Имя исполняемого файла вашей программы, если вы компилируете его в корень.
/bin/

# Зависимости (Архивы/Вендоринг)

vendor/

# Переменные окружения и секреты (Конфиденциальные данные)

.env
.env.local
.env.*.local
*.pem
*.key

# Инструменты тестирования и покрытия кода

*.out
*.cover
coverage.txt

# IDE и редакторы кода

.idea/
*.iws
*.iml
*.ipr
.vscode/
!.vscode/extensions.json

# Временные файлы vim / Emacs
*~
.*.swp

# Операционная система

.DS_Store
Thumbs.db
